input[type='text'] {
  opacity: 0;
  position: absolute;
  width: .1px;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: rgba(37, 37, 37, 0.85);
  font-family: 'Consolas', Helvetica, Arial, sans-serif, monospace,'Segoe UI';
}

#commend {
  width: 100%;
  float: left;
  line-height: 30px;
  min-height: 30px;
  display: block;
}

#commend #vo {
  width: 100%;
}

#commend span {
  float: left;
}

#commend span.content {
  letter-spacing: 2px;
}

#commend span.active ~ .error {
  content: '...';
  background: #a71d5d !important;
}

#commend span.active ~ .cursor {
  min-width: 4px;
  height: 20px;
  position: relative;
  background: #969896;
  color: #002b36;
  -webkit-box-shadow: 0 0 5px #93a1a1;
          box-shadow: 0 0 5px #93a1a1;
  text-align: center;
  word-spacing: 3px;
  -webkit-animation: cursor .9s infinite linear;
          animation: cursor .9s infinite linear;
  line-height: 20px;
  margin: 5px 2px;
  display: block;
}

#commend span.prompt:after {
  content: ">";
  color: tomato;
  font-family: 'Consolas', monospace;
  display: inline-block;
  position: relative;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.output_message {
  width: 100%;
  float: left;
  line-height: 30px;
  min-height: 30px;
}

.output_skin {
  position: relative;
}

.output_skin .prompt, .output_skin .content {
  float: left;
}

.output_skin .prompt {
  margin: 0 3px;
}

.output_skin .prompt:after {
  content: "$";
}

.output_skin .content {
  letter-spacing: 2px;
  display: block;
  -webkit-animation: return .3s;
          animation: return .3s;
}

#terminal {
  color: #bde3ee;
  min-height: 300px;
  width: 50%;
  min-width: 300px;
  padding: 10px 0;
  margin: 0 auto;
  text-shadow: 0 0 5px #93a1a1;
}

#terminal *::-moz-selection {
  background: #49545f;
  color: #a4a9ae;
}

#terminal *::selection {
  background: #49545f;
  color: #a4a9ae;
}

.cleaner {
  clear: both;
}

.upcase {
  text-transform: uppercase;
}

@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes return {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes return {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes insertani {
  0% {
    width: 0;
  }
  10% {
    width: 15%;
  }
  20% {
    width: 25%;
  }
  30% {
    width: 35%;
  }
  40% {
    width: 45%;
  }
  50% {
    width: 55%;
  }
  60% {
    width: 65%;
  }
  100% {
    width: 80%;
  }
}

@keyframes insertani {
  0% {
    width: 0;
  }
  10% {
    width: 15%;
  }
  20% {
    width: 25%;
  }
  30% {
    width: 35%;
  }
  40% {
    width: 45%;
  }
  50% {
    width: 55%;
  }
  60% {
    width: 65%;
  }
  100% {
    width: 80%;
  }
}

.cleaner {
  clear: both;
}

#hook-arguments-example {
  height: 200px;
}
